@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300&display=swap');

body {
  font-family: 'Sora';
  margin: 30px;
  color: black;
  margin-bottom: 300px;
  margin-top: 70px;
}

header {
  margin-left: 50px;
  font-size: 64px;
  font-family: 'Sora';
  color: rgba(106, 144, 100, 0.6);
}

.button1 {
  font-family: "Sora", sans-serif;
  color: rgba(253, 105, 139, 0.85);
}

.button2 {
  font-family: "Sora", sans-serif;
  color: rgba(106, 144, 100, 0.85);
}

 .buttons{
   position: center;
   text-align: center;
   font-family: "Sora", sans-serif;
 }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
