body {
  margin: 30px;
  font-family: "Sora", sans-serif;
  color: black;
  text-align: justify;
  align-items: "center";
  font-size: 12px;
  position: "center";
  margin-bottom: 10px;
}
.bodyText {

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  margin-left: 50px;
  font-size: 64px;
  font-family: "Sora", sans-serif;
}
.headerText {
  color: rgba(106, 144, 100, 0.6);
  font-family: "Sora", sans-serif;
  font-size: 64px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  font-family: "Sora", sans-serif;
  color: #fd698b;
}
// .buttonText {
//   color: #fd698b;
//   // position: absolute;
//   // bottom: 0;
//   font-family: "Sora", sans-serif;
//   font-size: xx-large;
// }

