@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300&display=swap');

body {
  font-family: 'Sora';
  margin: 30px;
  color: black;
  margin-bottom: 70px;
  margin-top: 100px;
  border-bottom: 140px;
  height: 700px;
}

.body2 {
  font-family: 'Sora';
  margin: 30px;
  margin-top: 50px;
  color: black;
  margin-bottom: 70px;
  height: 20px;
}

.body3 {
  font-family: 'Sora';
  margin: 30px;
  margin-top: 100px;
  color: black;
  height: 70px;
}

.body4 {
  font-family: 'Sora';
  color: black;
  margin-top: -100px;
}

.body5 {
  font-family: 'Sora';
  color: black;
  margin-top: 100px;
  font-size: 32px;
  width: 1300px;
  margin-left: 450px;
}

.divek {
  font-family: 'Sora';
  margin: 30px;
  margin-top: 50px;
  color: black;
  margin-bottom: 70px;
  height: 400px;
}
.divek2 {
  font-family: 'Sora';
  margin: 30px;
  margin-top: 100px;
  color: black;
  margin-bottom: 20px;
  height: 10px;
}
.headeR {
  font-family: 'Sora';
  color: rgba(106, 144, 100, 0.6);
  font-size: 46px;
  height: 240px;
}
.bold {
  font-family: 'Sora';
  font-weight: bold;
  margin: 10px;
  margin-top: 10px;
  color: black;
  margin-bottom: 70px;
  height: 20px;
}

header{
  margin-left: 50px;
  font-size: 64px;
  font-family: 'Sora';
  color: rgba(253, 105, 139, 0.6);
}
.myDiv{
  width: 400px;
  margin-top: 100px;
}

.bodyNav{
  color: black;
  font-family: 'Sora';
  margin: 30px;
  font-size: 20px;
  position: absolute;
  top: -5px;
  left: 50px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.nextButton {
  align-self: flex-end;
  justify-self: flex-end;
  margin-top: 250px;
}

.prevButton {
  align-self: flex-end;
  justify-self: flex-end;
}
.bodyLogin{
  color: black;
  font-family: 'Sora';
  margin-top: 100px;
  font-size: 20px;
  align-items: stretch;
}

.bodyLogin2{
  color: black;
  font-family: 'Sora';
  margin-top: 50px;
  font-size: 20px;
  align-items: stretch;
}

.radio{
  margin-left: 1650px;
}

.headerStart {
  margin-left: 50px;
  font-size: 64px;
  font-family: 'Sora';
  color: rgba(106, 144, 100, 0.6);
}

.navbar{
  color: rgba(253, 105, 139, 0.6);
  position: absolute;
  top: 8px;
  left: 16px;
}


.error {
 font-family: 'Sora';
 margin-left: 350px;
 margin-top: 100px;
 font-size: 70px;
}

.button1 {
  font-family: "Sora", sans-serif;
  color: rgba(253, 105, 139, 0.85);
}

.button2 {
  font-family: "Sora", sans-serif;
  color: rgba(106, 144, 100, 0.85);
}

.buttons{
   position: center;
   text-align: center;
   font-family: "Sora", sans-serif;
}

.box{
  position: center;
  text-align: center;
  font-family: "Sora", sans-serif;
  align-self: center;
  justify-self: center;
  margin: 30px;
  text-align: center;
  font-size: 20px;
  font-stretch: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

footer{
  position:absolute;
  left:0;
  bottom:0;
  right:0;
}