body {
  margin: 20;
  font-family: "Sora", sans-serif;
  color: black;
  text-align: justify;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.button1 {
  color: #FD698B;
}

.header {
  //align-items: center;
  margin-left: 60;
  color: rgba(106, 144, 100, 0.6);
  font-size: xx-large;

}
